body {
    background-color: black;
}

#wrapper {
}

#movieList {
    display: inline-block;
    float: left;
    width: 60%;
}

.movie {
    display: block;
    padding: 10px;
    margin: 10px;
    background-color: linen;
    height: 150px;

}

.details {
    float: left;
    width: 70%;
}

.details h3 {
    overflow-wrap: normal;
}

.button {
    background-color: white;
    align-content: center;
    child-align: middle;
    float: right;
    width: 100px;
    height: 150px;

}

.button img {
    height: 100px;
    align-self: center;
    vertical-align: top;
}

.button p {
    text-align: center;
    color: limegreen;
    font-family: "Arial Black";
    margin: 0;
}

#basket {
    vertical-align: top;
    display: inline-block;
  /*  background-color: lightgrey;
    border: 5px solid lightgreen;*/
    padding: 10px;
    margin: 10px;
    width: 30%;
}

#modal {
    position: fixed;
    top: 250px;
    right: 250px;
    margin: 50px;
    padding : 30px;
    width: 50%;
    height: 200px;
    background-color: lightskyblue;
    visibility: hidden;
    border: 1px solid black;
    z-index: 1;
}